.featured {
  &__root {
    @include container(calc(100% - 8rem), calc(100% - 8rem), calc(50% - 8rem));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 2rem 4rem;
  }

  &__image {
    height: 27rem;
    width: 28rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0.5rem 0.5rem 0.5rem #999;
  }

  &__info {
    background-color: $secondary-background;
    width: 28rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #999;
    display: flex;

    &__title {
      padding: 1rem 1rem 0 1rem;
      margin: 0;
      font-weight: bold;
      font-size: 1.5rem;
    }

    &__author {
      padding: 0 1rem 1rem 1rem;
      margin: 0;
      font-size: 1rem;
    }

    &__porfile {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 1rem;
    }
  }
}
