.traits-item {
  &__root {
    @include container(
      calc(50% - 1.7rem),
      calc(33.33% - 1.7rem),
      calc(25% - 1.7rem)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.125rem solid $aux;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }

  &__trait {
    color: $aux;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__value {
    font-size: 1rem;
  }

  &__porcentaje {
    font-size: 0.7rem;
  }
}
