.error {
  &__root {
    @include screenCenter;
  }

  &__text {
    text-align: center;
    font-weight: bold;
    margin-top: -4rem;
    font-size: 2em;
  }

  &__icon{
    justify-self: center;
  }
}
