.cart {
  &__root {
    width: calc(100% - 2rem);
    padding: 1rem 1rem;
    color: $primary;
  }

  &__item-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  &__title {
    @include title(bold, 1.5rem, 2rem, 2rem);
  }

  &__to-checkout {
    width: calc(100% - 3rem);
    background-color: $secondary-background;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    padding: 1rem 1rem;
    max-height: 10%;
    margin-top: 2rem;
  }

  &__eth-logo {
    height: 2rem;
    width: 2rem;
  }
}
