
//Colors

$primary: #000000;
$secondary: #FFFFFF;

$aux: #0081a7;

$primary-background:  #000000;
$secondary-background: #FFFFFF;

$border-color : rgb(222, 222, 222);

//Fonts
$primary-font : Poppins, sans-serif;

//Break Points
$breakpoint-mobile: 480px;
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1000px;


