.checkout-form {
  &__root {
    width: 100%;
  }

  &__title {
    @include title(bold, 2rem, 2rem, 2rem);
    width: 100%;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__input {
    border-radius: 0.5rem;
    padding: 1rem 0;
    border: 0.125rem solid $border-color;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--25 {
      @include container(calc(50% - 1rem), calc(50% - 1rem), calc(25% - 1rem));
    }

    &--33 {
      @include container(
        calc(50% - 1rem),
        calc(50% - 1rem),
        calc(33.33% - 1rem)
      );
    }

    &--50 {
      @include container(calc(50% - 1rem), calc(50% - 1rem), calc(50% - 1rem));
    }

    &--100 {
      width: calc(100% - 1rem);
    }
  }

  &__button-container {
    display: flex;
    width: 50%;
    justify-content: center;
  }
}
