.hero {
  &__root {
    display: flex;
    flex-wrap: wrap;
    height: 60rem;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-desktop) {
      height: 40rem;
    }
  }

  &__background {
    width: 100%;
    height: 60rem;
    background-position: center;
    background-image: url("https://openseauserdata.com/files/195ccd6bc38de5f6dca8fc29920e2903.gif");
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    animation: blur-effect 3s linear infinite;

    @media (min-width: $breakpoint-desktop) {
      height: 40rem;
    }
  }

  @keyframes blur-effect {
    0% {
      filter: blur(0);
    }
    25% {
      filter: blur(0.3rem);
    }
    50% {
      filter: blur(0.6rem);
    }
    75% {
      filter: blur(0.3rem);
    }
    100% {
      filter: blur(0);
    }
  }

  &__info {
    @include container(calc(100% - 8rem), calc(100% - 8rem), calc(50% - 8rem));
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-start;
    color: $primary;
    margin: 2rem 4rem;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      align-self: center;
    }
  }

  &__title {
    @include title(bolder, 2rem, 2.5rem, 3rem);
  }

  &__sub-title {
    font-size: 1.5rem;
    padding: 0.5rem;
    @media (min-width: $breakpoint-tablet) {
      font-size: 2rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
  }
}

.info-block {
  &__root {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
  }

  &__title {
    @include title(bold, 2rem, 2rem, 2.5rem);
    text-align: center;
    margin: 0.5rem 0;
    width: 100%;
  }

  &__img {
    width: 25rem;
    height: 20rem;
    margin: 2rem 0 0 0;
  }

  &__icon{
    height: 4rem;
    width: 4rem;
  }

  &__info-card {
    display: block;
    text-align: center;
    padding: 3rem 1.5rem;
    @include container(calc(50% - 3rem), calc(25% - 3rem), calc(25% - 3rem));
  }
}

.container {
  &--25 {
    @include container(calc(100% - 2rem), calc(25% - 2rem), calc(25% - 2rem));
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    align-items: center;
  }

  &--33 {
    @include container(calc(100% - 2rem), calc(33.33% - 2rem), calc(33.33% - 2rem));
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    align-items: center;
  }

  &--50 {
    @include container(calc(100% - 2rem), calc(50% - 2rem), calc(50% - 2rem));
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    align-items: center;
  }

  &--100 {
    @include container(calc(100% - 2rem), calc(100% - 2rem), calc(100% - 2rem));
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    align-items: center;
  }
}
