.logo {
  &__root { 
    margin: 0 1rem;
    display: flex;
    text-decoration: none;
    color: black;
  }

  &__name {
    align-self: center;
  }

  &__img {
    height: 3rem;
    align-self: center;
  }
}
