.nft-item {
  &__root {
    @include container(calc(50% - 1rem), calc(33.33% - 1rem), calc(25% - 1rem));
  }

  &__card {
    padding: 0.8em;
    background: $secondary;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.12),
      0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    margin: 0.5rem 0;
  }

  &__clickeable:hover {
    animation: shake 0.5s;
  }

  &__img {
    width: 100%;
    border-radius: 0.5rem;
    transition: 0.3s ease;
  }

  &__svg {
    width: 20px;
    height: 20px;
  }

  &__link {
    text-decoration: none;
    color: $primary;
  }

  &__text-title {
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0;
  }

  &__text-subtitle {
    font-size: 0.9rem;
    margin: 0;
  }

  &__text-body {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
  }
}

