.button {
  @include button-styles;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 1rem;
  z-index: -1;
  transition: all 250ms;
}

a:hover::before {
  width: 100%;
}

a:focus::before {
  width: 100%;
}
