.search-bar {
  &__root {
    padding: 1rem;
    width: calc(100% - 4rem);
    margin: 0 1rem 0 1rem;
    box-shadow: 0px 3px 10px #999;
    border-radius: 1rem;
  }

  &__input {
    border-style: none;
    width: 100%;
    color: inherit;
    background-color: transparent;
    padding-left: 1em;
    font-size: 1.3em;
    color: black;

    &:focus {
      outline: none;
    }
  }
}
