.checkout {
  &__root {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 1rem);
    padding: 1rem 0;
  }

  &__title {
    @include title(bold, 2rem, 2rem, 2rem);
  }

  &__cart-container {
    @include container(calc(100% - 2rem), calc(100% - 2rem), calc(50% - 2rem));
    display: flex;
    padding: 0 1rem;
    flex-wrap: wrap;
    align-self: flex-start;
    & .cart-item__root {
      width: 100%;
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.5rem;
    width: 100%;
  }

  &__price {
    @include title(1000, 1.5rem, 1.5rem, 2rem);

    &--usd {
      color: rgb(112, 122, 131);
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }

  &__eth {
    display: flex;
    align-items: center;
  }

  &__eth-logo {
    height: 2rem;
    width: 2rem;
  }

  &__forms-container {
    @include container(calc(100% - 2rem), calc(100% - 2rem), calc(50% - 2rem));
    padding: 0 1rem;
  }
}
