.nav-bar {
  &__root {
    background-color: $secondary-background;
    justify-content: space-between;
    box-shadow: 0px 3px 10px #999;
    align-items: center;
    position: fixed;
    display: flex;
    height: 5rem;
    width: 100% ;
    z-index: 2;
    top: 0;
  }
  
  &__cart-container{
    display: flex;
    padding-right: 2rem;
  }

  &__count{
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary;
    background-color: black;
    position: relative;
    bottom: 1rem;
    right: 2rem;
  }
}
