.cart-item {
  &__root {
    @include container(calc(100%), calc(100%), calc(50%));
    border-bottom: 0.1rem solid $border-color;
    display: flex;
  }

  &__nft-container {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
  }

  &__info-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    justify-content: space-evenly;
  }

  &__main-text {
    font-size: 1rem;
    font-weight: bold;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1.5rem;
    }
  }

  &__sub-text {
    font-size: 0.9rem;
  }

  &__quantity {
    width: 2rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.2rem;
    text-align: center;
  }

  &__subtotal-container {
    width: 40%;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    @media (min-width: $breakpoint-tablet) {
      margin: 1rem 2rem;
    }
  }
}
