.loading {
  &__root {
    @include screenCenter;
  }

  &__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4rem;
    height: 4rem;
  }

  &__spinner::after {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: black;
    animation: flip 1s infinite;
  }

  @keyframes flip {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotateY(180deg);
    }

    100% {
      transform: rotateY(180deg) rotateX(180deg);
    }
  }

  &__text{
    text-align: center;
    font-size: 2em;
    font-weight: bold;  
  }
}
