.footer {
  &__root {
    background-color: $secondary-background;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-top: 0.025rem solid $border-color;
    border-bottom: 0.025rem solid $border-color;
  }

  &__buttons{
    display: flex;
  }

  &__links{
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
  }
}
