.item {
  &__root {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 1rem;
  }

  &__image-container {
    @include container(calc(100%), calc(45% - 2rem), calc(45% - 2rem));
    display: flex;
    justify-content: center;
    margin: 0 1rem 0 1rem;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 0 0 1rem;
    }
  }

  &__image {
    width: 100%;
    border-radius: 1rem;
    max-height: 34.5rem;
  }

  &__info-container {
    @include container(calc(100%), calc(55% - 1.2rem), calc(55% - 1.2rem));
    margin: 0 1rem 0 1rem;
    border: 0.1rem solid $border-color;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 1rem 0 0;
    }
  }

  &__title-container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0 1rem;
    padding: 0;
    font-size: 2rem;
  }

  &__link {
    margin: 1rem;
    text-decoration: none;
    color: $aux;
  }

  &__description {
    margin: 0 2rem;
    text-align: justify;
  }

  &__price-container {
    width: calc(50% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  &__eth-logo {
    height: 2rem;
    width: 2rem;
  }

  &__price {
    margin: 0 0.5rem;
    font-weight: 1000;
    font-size: 2.5rem;

    &--usd {
      color: rgb(112, 122, 131);
      margin-top: 0.5rem;
      font-size: 1rem;
    }
  }

  &__button-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  &__properties-container {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
