.sign-up {
    &__root {
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width:$breakpoint-tablet) {
            height: 90vh;
        }
    }

    &__title {
        @include title(bold, 2rem, 2rem, 2rem);
        width: 100%;
    }

    &__stepper{
        display: flex;
        justify-content: space-evenly;
    }

    &__step{
        padding: 0.6rem 1rem;
        border-radius: 50%;
        font-weight: bold;
        background-color: $primary;
        color: $secondary;

        &--active{
            background-color: $aux;
            color: $secondary;
        }
        
    }

    &__body{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__footer {
        display: flex;
        gap: 1rem;
    }
}
