@mixin container($mobile, $tablet, $desktop) {
  width: $mobile;

  @media (min-width: $breakpoint-tablet) {
    width: $tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    width: $desktop;
  }
}
