@mixin forms {
    &__root {
        animation: 0.5s  fade-in;
        overflow-x: hidden;
        width: 75%;

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 3rem;
        align-items: center;
    }

    &__input-label {
        @include container(100%, 100%, calc(50% - 0.3rem));
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__label {
        @include title(bold, 1rem, 1rem, 1rem);
    }

    &__input {
        border-radius: 0.5rem;
        padding: 1rem 0;
        border: 0.125rem solid $border-color;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &--25 {
            @include container(
                calc(50% - 1rem),
                calc(50% - 1rem),
                calc(25% - 1rem)
            );
        }

        &--33 {
            @include container(
                calc(50% - 1rem),
                calc(50% - 1rem),
                calc(33.33% - 1rem)
            );
        }

        &--50 {
            @include container(
                calc(50% - 1rem),
                calc(50% - 1rem),
                calc(50% - 1rem)
            );
        }

        &--100 {
            width: calc(100% - 1rem);
        }
    }

    &__button-container {
        display: flex;
        width: 50%;
        justify-content: center;
    }
}
