@mixin title ( $weight , $sizem , $sizet , $sized) {
  font-size: $sizem;
  font-weight: $weight;
  padding: 0.5rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: $sizet;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $sized;
  }
}
