@mixin button-styles {
  &__root {
    padding: 1rem 1.5rem;
    width: 10rem;
    border: none;
    border-radius: 1.1rem;
    z-index: 1;
    position: relative;
    font-weight: 1000;
    font-size: 1rem;
    transition: all 100ms;
    text-decoration: none;
    text-align: center;
    
  }

  &--primary-background {
    color: $secondary;
    background-color: $primary-background;

    &::before {
      background-color: $secondary-background;
    }

    &:hover {
      color: $primary;
      cursor: pointer;
    }


  }

  &--secondary-background {
    color: $secondary ;
    background-color: $primary-background;

    &::before {
      background-color: $aux;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      cursor: pointer;
    }
  }
}
