@mixin svgs {
  &__root {
    display: flex;
    border: none;
    background-color: transparent;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__img {
    align-self: center;
    margin: 0 1rem;
  }
  
}
